/* Setup */
/* ***** */

/* palette:
      yellow  #fcee21 
      orange  #f1b66a
      cyan    #00ffff
      purple  #FF00FF
      green   #00ff00
 */

@font-face {
  font-family: 'cubano-regular';
  src: url('../fonts/cubano-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'khmer';
  src: url('../fonts/khmer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Layer 1 HTML elements */
/* ********************* */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

/* apply a natural box layout model to all elements because sanity. */
*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

img {
  max-width: 100%;
}

hr {
  outline: none;
  border: none;
}

/* Layer 1: Modules */
/* **************** */

.app {
  height: 100%;
  text-align: center;
  font-family: cubano-regular;
  color: white;
}

/* Home (levels) */
/* ************* */

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.modal-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7; /* side effect: forces this onto a GPU layer */
  z-index: 1;
}

.finish-modal {
  position: fixed;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 35%;
  background-color: white;
  border-radius: 20px;
  padding: 20px 40px;
  z-index: 2;
  display: none;
  /* -webkit-transform: translate3d(0 -100%, 0); */
  /* -webkit-transition: all 0.1s ease-in-out; */
  -webkit-transition: all 2s ease-in-out;
}

.finish-modal.visible {
  display: block;
  /* -webkit-transform: translate3d(0, 50%, 0); */
}

.finish-modal .buttons .yes {
  margin-left: 30px;
}
.finish-modal .buttons .no {
}

.sidebar {
  color: #fcee21; /* yellow */
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  bottom: 0;
  -webkit-transform: translateZ(0);
}

.sidebar .star {
  margin: 2em auto 0.5em auto;
  display: block;
}

.sidebar .num-won-stars {
  display: block;
  font-size: 60px;
}

.sidebar .quit-session {
  display: block;
  width: 86px;
  height: 86px;
  margin: 440px auto auto auto;
}

/* acknowledge taps/clicks with a little shimmy */
.ack-tap {
  -webkit-transform: translateZ(0);
}
.ack-tap:active {
  -webkit-transform: scale(0.97, 0.97);
}

.levels {
  margin-left: 120px;
}

.level {
  padding: 30px 0 30px 100px;
  position: relative;
  /* outline: 1px solid red; */
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: 3px 0 3px 0;
}

.level:nth-child(4n+1) {
  background: url("../img/background-green.png");
}
.level:nth-child(4n+2) {
  background: url("../img/background-yellow.png");
}
.level:nth-child(4n+3) {
  background: url("../img/background-cyan.png");
}
.level:nth-child(4n+4) {
  background: url("../img/background-blue.png");
}

.level .level-id {
  font-size: 72px;
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 20%;
  min-width: 80px;
  padding-top: 30px;
  background-color: black;
}

.level:nth-child(4n+1) .level-id {
  color: #00ff00; // green
} 

.level:nth-child(4n+2) .level-id {
  color: #f1b66a; // orange
} 
 
.level:nth-child(4n+3) .level-id {
  color: #00ffff; // cyan 
}

.level:nth-child(4n+4) .level-id {
  color: #FF00FF; // purple
}

.game-thumbnails {
  margin: 0;
}

.locked-level-overlay{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.game-thumbnail {
  list-style: none;
  float: left;
  overflow: hidden;
  width: 25%;
  height: 330px;
}
 
.link,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
  color: black;
  /* height: 200px; */
  /* width: 150px; */
  display: block;
}

.link .frame {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px;
  margin: 0px auto;
  display: inline-block;
}

.level:nth-child(4n+1) .frame {
  background-image: url("../img/blob-green.png");
} 

.level:nth-child(4n+2) .frame {
  background-image: url("../img/blob-orange.png");
} 
 
.level:nth-child(4n+3) .frame {
  background-image: url("../img/blob-blue.png");
}

.level:nth-child(4n+4) .frame {
  background-image: url("../img/blob-pink.png");
}

.level:nth-child(4n+5) .frame {
  background-image: url("../img/blob-green.png");
}

.link .icon {
  /* width: 64px; */
  /* height: 64px; */
  /* width: 128px; */
  /* height: 256px; */
  /* border-radius: 8px; */
}

.link .title {
  clear: both;
  margin-top: 0;
  font-size: 28px;
}

/* Quiz */
/* **** */

.question {
  margin-top: 20px;
  width: 100%;
}

.question .question-images {
  float: left;
  width: 50%;
  font-family: 'khmer', 'cubano-regular';
  overflow: hidden;
  padding-left: 20px;
}

.question .question-images .image {
  max-height: 300px;
}

.question .divider {
  height: 10px;
  width: 80%;
  background-color: black;
  box-shadow: 2px 2px 0 orange;
}

.question .question-text {
  margin: 0;
  font-size: 30px;
  /* font-size: 80px; */
}

.question .possible-answers {
  position: relative; /* become positioning root for our absolute children */
  float: left;
  width: 50%;
}
.question .possible-answer {
  /* margin: 1em auto; */
  float: left;
  width: 50%;
  display: inline-block;
}

.possible-answer .frame {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
  margin: 0px auto;
  background-image: url("../img/blob-green.png");
  width: 300px;
  height: 300px;
}
.possible-answer .frame.frame-disabled {
  opacity: 0.4;
}

/* .level:nth-child(4n+1) .frame { */
/*   background-image: url("../img/blob-green.png"); */
/* }  */
/*  */
/* .level:nth-child(4n+2) .frame { */
/*   background-image: url("../img/blob-orange.png"); */
/* }  */
/*   */
/* .level:nth-child(4n+3) .frame { */
/*   background-image: url("../img/blob-blue.png"); */
/* } */
/*  */
/* .level:nth-child(4n+4) .frame { */
/*   background-image: url("../img/blob-pink.png"); */
/* } */
/*  */
/* .level:nth-child(4n+5) .frame { */
/*   background-image: url("../img/blob-green.png"); */
/* } */

.possible-answer .image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.possible-answer .text {
  width: 100%;
  height: 100%;
  font-size: 150px;
}

.potential-stars {
  background-color: black;
  border-radius: 90px;
  padding: 60px 0 0 0;

  margin: auto;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.potential-stars .potential-star {
  display: inline-block;
  position:  relative; /* become the positional parent for our 'position: absolute' children */
  width:     62px;
  height:    59px;

  -webkit-transform: translateZ(0);

  /* This controls the **time** part of the animations of this element. The spatial */
  /* part of the transform is controlled by Javascript. */
  -webkit-transition: -webkit-transform 0.75s ease-in-out, opacity 0.2s linear;
  opacity: 0;
}

.potential-stars .potential-star.js-is-winnable {
  opacity: 1;
}
/*
 * Slide in/out Animation
 * **********************
 *
 * These are the states of the class attribute:
 *
 *  Hiding:
 *
 *    [element is in visible steady state]
 *    .slide-in-out
 *    .slide-in-out.ng-hide-add
 *    .slide-in-out.ng-hide-add.ng-hide-add-active
 *    .slide-in-out.ng-hide
 *    [element is in hidden steady state]
 *
 *  Showing:
 *
 *    [element is in hidden steady state]
 *    .slide-in-out.ng-hide
 *    .slide-in-out.ng-hide-remove
 *    .slide-in-out.ng-hide-remove.ng-hide-remove-active
 *    .slide-in-out
 *    [element is in visible steady state]
 */

/* setup for sliding elements */
.slide-in-out {
  -webkit-transform: translateZ(0); /* promote matching elements to their own GPU layer for render performance */
  position: absolute;
}

/* prepare for slide-out animation */
.slide-in-out.ng-hide-add {
  display: block !important;
  -webkit-transition: 0.3s ease-in-out all;
}

/* start the slide-out animation */
.slide-in-out.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translateX(-100%);
}

/* hidden elements should be off-screen on the RHS */
.slide-in-out.ng-hide {
  display: block !important;
  -webkit-transform: translateX(100%);
}

/* prepare for slide-in animation */
.slide-in-out.ng-hide-remove {
  -webkit-transition: 0.3s ease-in-out all;
  -webkit-transform: translateX(200%);
  display: block !important;
}

/* start the slide-in animation */
.slide-in-out.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translateX(0);
}

/* Star slots (across the top of each quiz page) */
/* ********************************************* */

.star-slots {
  border-radius: 40px;
  background-color: black;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
}

.star-slot {
  margin: 0;
  position: relative; /* become the positional parent for our 'position: absolute' children */
  float: left;
}

.star-slot .js-full-slot-img {
  display: none;
} 

/* Quiz */
/* **** */

.quiz-wrapper {
  background: url("../img/background-yellow.png");
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: black;
  text-shadow: 2px 2px 0px orange;

}

.quiz-wrapper .level-id {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: black;
  color: red;
  font-size: 44px;
  text-align: left;
  padding-left: 30px;
  color: #00ff00; /* changes */
  text-shadow: none;
}

.result {
  width: 80%;
  margin: 0 auto;
}

.result .text {
  padding-top: 50px;
  font-size: 150px;
  display: block;
  margin: 0 auto;
  color: black;
}

.result .btn-return-home {
  float: right;
  background: url("../img/arrow-right.png") no-repeat;
  width: 232px;
  height: 161px;
  color: #00ffff;
  font-size: 100px;
  padding: 15px 0 0 10px;
  text-shadow: 2px 2px 0px blue;
  text-align: left;
}

.clear {
  overflow: hidden;
}

.hidden {
  display: none;
}

/* exit screen */
/* *********** */

.exit-wrapper {
  background: url("../img/background-pink.png");
  height: 100%;
}

.exit {
  margin: 3em;
  padding: 1em;
  color: #fcee21; /* yellow */
  background-color: black;
}

.exit .message {
  float: left;
  width: 50%;
  position: relative;
  padding-top: 10%;
}

.exit .message .image {
}

.exit .score {
  float: left;
  width: 50%;
}
.exit .score .stars {
  font-size: 200px;
  line-height: 1;
  padding-top: 30px;
}
