

.debugging {
  max-width: 50%;
  font-size: 9px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}



/*quiz*/

.quiz-background{
  background: url("/img/background-yellow.png");
  height:100%;
}

.well{
  background-color: #000000;
  color:#ffffff;
  font-size: 20px;
}


span.result_0 {
       width: 10%;
       background-color: red;
       float: left;
       text-align: center;
}
span.result_1 {
       width: 10%;
       background-color: green;
       float: left;
       text-align: center;
}

h2.final_result_passed {
       color: green;
}
h2.final_result_failed {
       color: red;
}

.result-icons div {
	height: 30px;
}
.result-icons div.current {
	background:url("/img/score-star.png") no-repeat ;
	background-size: 43%;
}
.result-icons div.next {
	background:url("/img/score-star-outline-1.png") no-repeat ;
	background-size: 43%;
}
.result-icons div.lost {
	background:url("/img/score-star-outline-2.png") no-repeat ;
	background-size: 43%;
}
.result-icons div.won {
	background:url("/img/score-star.png") no-repeat ;
	background-size: 43%;
}

.hero-unit{
  background-color: #ffffff;
}

.answer{
background:url("/img/blob-orange.png") no-repeat;
}

button.btn-large {
  height: 213px;
  width: 210px;
}

.thumbnails .span4{
  width:210px;
}

/*index*/

.container-fluid{
  background-color: #000000;
}

.sidebar {
  background-color: #000000;
  height: 400px;
}

li.nav-header{
  color:#ffffff;
  font-size: 17.5px;
  padding:30px inherit;
  }

.navbar-inner{
  background-color: #000000;
  background-image: none;
  margin: 10px;
}

.navbar .brand{
  color: #ffffff;
  text-shadow: none;
}



/*locked/unlocked buttons*/
.navbar-inner .label{
  font-size: 15px;
  margin:10px;
  padding: 4px 6px;
  }


/*alternate background for levels*/

ul.thumbnails:nth-child(4n+2) {
  background: url("/img/background-yellow.png");
}
ul.thumbnails:nth-child(4n+3) {
  background: url("/img/background-cyan.png");
}
ul.thumbnails:nth-child(4n+4) {
  background: url("/img/background-green.png");
}
ul.thumbnails:nth-child(4n+5) {
  background: url("/img/background-blue.png");
}


/*blob background*/

ul.thumbnails li.blob{
  height: 213px;
  width:210px;
  }
 
ul.thumbnails:nth-child(4n+2) li.blob{
  background:url("/img/blob-orange.png") no-repeat;
  } 
 
ul.thumbnails:nth-child(4n+3) li.blob{
  background:url("/img/blob-blue.png") no-repeat;
  }

ul.thumbnails:nth-child(4n+4) li.blob{
  background:url("/img/blob-green.png") no-repeat;
  }

ul.thumbnails:nth-child(4n+5) li.blob{
  background:url("/img/blob-pink.png") no-repeat;
  }

a{color: #ffffff;}

a.thumbnail{
  margin-left:10px;
  height:180px;
  width: 180px;
}

.thumbnail,
a.thumbnail:active,
a.thumbnail:hover,
a.thumbnail:focus{
  border:none;
  box-shadow: none;

}
a.thumbnail:active,
a.thumbnail:hover,
a.thumbnail:focus{
  color:#000000;
}
.thumbnail img{
  margin-top:40px;
  margin-left:60px;
}


  