.debugging {
  font-size: 9px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

span.result_0 {
       width: 10%;
       background-color: red;
       float: left;
       text-align: center;
}
span.result_1 {
       width: 10%;
       background-color: green;
       float: left;
       text-align: center;
}

h2.final_result_passed {
       color: green;
}
h2.final_result_failed {
       color: red;
}
button.btn-large {
	width: 100%;
}
div.result-icons div {
	height: 30px;
}
div.result-icons div.current {
	background-image:url("/img/coin-current.png");
	background-repeat:no-repeat;
	background-size: 43%;
}
div.result-icons div.next {
	background-image:url("/img/coin-later.png");
	background-repeat:no-repeat;
	background-size: 43%;
}
div.result-icons div.lost {
	background-image:url("/img/coin-lost.png");
	background-repeat:no-repeat;
	background-size: 43%;
}
div.result-icons div.won {
	background-image:url("/img/coin-won.png");
	background-repeat:no-repeat;
	background-size: 43%;
}

.sidebar {
    background-color: #F5F5F5;
    height: 400px;
}
