<div ng-controller="AdminCtrl">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="sidebar">

                    <ul class="nav nav-list">
                          <li class="nav-header">Admin</li>
                          <li class="active"><a href="#/kids">Home</a></li>
                      </ul>

                </div>
            </div>
            <div class="span10">
                <p>
                <h2>Admin screen</h2>
                </p>
                <p>
                <form name="form" class="css-form" novalidate>
                    Password: <input type="password" ng-model="password" name="password" gritPassword /> 
                    <div ng-show="form.password.$error.gritPassword">Please provide a valid password</div>
                    <div ng-hide="form.password.$error.gritPassword">
                    <a href="#" ng-click="closeGrit()" class="btn btn-large btn-primary">close</a>
                    <a href="#" ng-click="settings()" class="btn btn-large btn-primary">Settings</a>
                    </div>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
