<div ng-controller="AdminCtrl">
  <a href="#/">Home</a>
  <h2>Admin settings</h2>
  <form name="form" class="css-form" novalidate>
    <p>
      Password: <input type="password" ng-model="password" name="password" valid-pwd="\grit\b" required /> 
    </p>
    <p ng-show='form.password.$error.validPwd'>Please provide a valid password to unlock the admin settings</p>

    <div ng-hide='form.password.$error.validPwd'>
      <div class="">
        close Grit learning and return to android homescreen
        <a href="#" ng-click="closeGrit()" class="btn btn-large btn-primary">Close Grit</a>
      </div>
    </div>
  </form>
</div>
