<div ng-controller="ExitCtrl">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="sidebar">

                    <ul class="nav nav-list">
                          <li class="nav-header">Exit</li>
                    </ul>

                </div>
            </div>
            <div class="span10">
                <div>
                    <img ng-repeat="n in [] | range:0:levelId" src="/img/cool-star-noun_project_12715.svg" alt="Oops, cannot display image." width="152" height="114">
                </div>
                <div>
                    <a class="btn btn-primary btn-large" href="#">Congrats, you made it to Level {{levelId}}!!</a>
                    <div class="alert alert-block">
                        <a class="close">&times;</a>
                        <strong>Warning</strong> Star image is free download from TheNounProject, so in principle should be attributed.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
