<div ng-controller="ExitCtrl">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="sidebar">

                    <ul class="nav nav-list">
                          <li><a href="/">Home</a></li>
                    </ul>

                </div>
            </div>
            <div class="span10">

                <div class="hero-unit">
                    <h1>Congrats</h1>
                    <p>you made it to Level {{levelId}}!!</p>
                    <p>
                    <img ng-repeat="n in [] | range:0:levelId" src="/img/cool-star-noun_project_12715.svg" alt="Oops, cannot display image." width="152" height="114">
                    </p>
                    <p>
                    <a href="#/level/1" class="btn btn-primary btn-large">
                       Reset and return to levels
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
