<!-- Quiz confirmation modal -->
<div id="quiz" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-header">
        <h3>To unlock this game you need to complete a quiz.</h3>
    </div>
    <div class="modal-body">
        <form novalidate class="simple-form">
            <center>
                <a class="btn btn-large btn-primary" data-dismiss="modal" ng-href="#/quiz/{{currentLevel}}">take quiz</a>
            </center>
        </form>
    </div>
</div>

<div ng-controller="ContentListCtrl">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="sidebar">

                    <ul class="nav nav-list">
                        <li class="nav-header">Current Level: {{currentLevel}}</li>
                        <li><img src="/img/logo.png"></li>
                        <li class="divider"></li>
                        <li><a href="#/exit">Finish my session</a></li>
                        <li><a href="#/admin">Open Admin Settings</a></li>
                    </ul>

                </div>
            </div>
            <div class="span10">
              <h1>Grit Learning</h1>

              <ul class="thumbnails" ng-repeat="level in levels">
                <div class="navbar">
                  <div class="navbar-inner">
                    <a class="brand" href="#">Level {{level.id}}</a>
                    <span ng-show="level.isNext" class="label label-warning">Next level to try</span>
                    <span ng-show="level.isLocked" class="label label-important">Locked</span>
                    <span ng-show="! level.isLocked" class="label label-success">Unlocked</span>
                  </div>
                </div>

                <li ng-show="! level.isLocked" class="span4" ng-repeat="app in apps | filter:{level: level.id}">
                  <a href="#" class="thumbnail" ng-click='open(app.launchCommand, app.name)'>
                    <img ng-src="{{app.icon}}" alt="{{app.name}}" class="img-rounded" />
                    <center><h4>hi {{app.name}}</h4></center>
                  </a>
                </li>

                <li ng-show="level.isLocked" class="span4" ng-repeat="app in apps | filter:{level: level.id}">
                  <a href="#quiz" class="thumbnail" data-toggle="modal">
                    <img ng-src="{{app.icon}}" alt="{{app.name}}" class="img-rounded" />
                    <center><h4>{{app.name}}</h4></center>
                  </a>
                </li>
              </ul>

          </div>
      </div>
  </div>
</div>
