<div class="modal-overlay hidden"></div>

<div class="finish-modal">
  <img src="img/finished.png" />
  <div class="buttons">
    <img class="no ack-tap"  ng-click="hideFinishModal()" src="img/no.png"  />
    <img class="yes ack-tap" ng-click="goToExitScreen()"  src="img/yes.png" />
  </div>
</div><!-- .finish-modal -->

<div class="wrapper" ng-controller="ContentListCtrl">

  <div class="sidebar">
    <img class="star" src="img/score-star.png" />
    <h1 class="num-won-stars">{{totalStarsForThisSession}}</h1>
    <img class="quit-session ack-tap" ng-click="showFinishModal()" src="img/button-quit-session.png" />
    <!--     <li class="nav&#45;header">Current Level: {{currentLevel}}</li> -->
    <!--     <li><a href="#/exit">Finish my session</a></li> -->
    <!--     <li><a href="#/admin">Open Admin Settings</a></li> -->

  </div>
  <div class="levels">

    <div class="level" ng-repeat="level in levels">
      <div ng-show="level.isLocked"
           ng-href="#/quiz/{{currentLevel}}" 
           ng-click="openQuiz(currentLevel)" 
           class="locked-level-overlay">
      </div>
      <div class="level-id">{{level.id}}</div>

      <ul class="game-thumbnails">

        <li ng-show="! level.isLocked" class="game-thumbnail" ng-repeat="app in apps | filter:{level: level.id}">
          <a href="#" class="link" ng-click='open(app.launchCommand, app.name)'>
            <div class="frame">
              <img ng-src="{{app.icon}}" alt="{{app.name}}" class="icon" />
            </div>
            <h4 class="title">{{app.name}}</h4>
          </a>
        </li>

        <li ng-show="level.isLocked" class="game-thumbnail" ng-repeat="app in apps | filter:{level: level.id}">
          <a ng-href="#/quiz/{{currentLevel}}" class="link">
            <div class="frame">
              <img ng-src="{{app.icon}}" alt="{{app.name}}" class="icon" />
            </div>
            <h4 class="title">{{app.name}}</h4>
          </a>
        </li>
      </ul>

    </div><!-- .level -->
  </div><!-- .levels -->
</div><!-- .wrapper -->


