<div class="quiz-wrapper">
  <div class="level-id">{{levelId}}</div>
  <div class="star-slots">
    <div ng-repeat="_meh in _.range(7)" class="star-slot js-is-empty">
      <img class="js-empty-slot-img" alt="" src="img/score-star-outline-1.png" />
      <img class="js-full-slot-img" alt="" src="img/score-star.png" />
    </div>
    <div ng-repeat="_meh in _.range(3)" class="star-slot js-is-empty">
      <img class="js-empty-slot-img" alt="" src="img/score-star-outline-2.png" />
      <img class="js-full-slot-img" alt="" src="img/score-star.png" />
    </div>
  </div>

  <div class="quiz" ng-show="showQuiz">
    <div class="" 
         ng-repeat="question in filtered = (quiz | filter:filterByLevel | shuffle | limitTo:5)" 
         repeat-done="layoutDone()"
         id="{{$index}}">
      <div class="question question-{{$index}} " ng-show="questionIndexToShow == $index">

        <div class="question-images">
          <!-- <h1 class="question&#45;text">{{question.question_2.text}}</h1> -->
          <!-- <hr class="divider" /> -->
          <!-- <h1 class="question&#45;text">{{question.question_1.text}}</h1> -->
          <img alt="" ng-src="{{question.question_2.url}}" />
          <hr class="divider" />
          <img alt="" ng-src={{question.question_1.url}} />
        </div>

        <div class="possible-answers">
          <div class="possible-answer" 
              ng-disabled="hasBeenClicked"
              ng-repeat="answer in question.answers">
                <div ng-class="(hasBeenClicked ? 'frame frame-disabled' : 'frame')" 
                    ng-click="(! hasBeenClicked) && processAnswer(question, answer, $parent.$index, $parent.$last); hasBeenClicked = true">
                  <img class="image" alt="" ng-src={{answer.url}} />
                  <!-- <div enable&#45;fit&#45;text class="text">{{answer.text}}</div> -->
                </div>
          </div><!-- .possible-answer -->

          <div class="potential-stars">

            <div class="potential-star js-is-winnable">
              <img alt="" class="js-won-star-img"  src="img/score-star.png" />
            </div>

            <div class="potential-star js-is-winnable">
              <img alt="" class="js-won-star-img"  src="img/score-star.png" />
            </div>

          </div><!-- .potential-stars -->
        </div><!-- .possible-answers -->
      </div> <!-- .question -->
    </div>
  </div><!-- .quiz -->

  <div class="result clear" ng-show="showResults">
    <h1 class="text" ng-show="passed">You passed!</h1>
    <h1 class="text" ng-hide="passed">Try again!</h1>

    <div ng-show="passed" class="btn-return-home" ng-click="returnToHomeScreen()">{{level}}</div>
    <div ng-hide="passed" class="btn-return-home" ng-click="returnToHomeScreen()">{{level}}</div>
  </div><!-- .result -->
</div><!-- .quiz-wrapper -->
