.question {
  // margin-top: 20px; // Re-enable this when we figure out how to not display navigation bar at bottom of screen
  width: 100%;

  .question-texts {
    float: left;
    width: 50%;
    font-family: 'khmer';
    overflow: hidden;
    padding-left: 20px;
    max-height: 600px;
    font-size: 45px;
  }

  .possible-answers {
    position: relative; // become positioning root for our absolute children
    float: left;
    width: 50%;

    // keep this up so that the vertically centered potential stars align
    // correctly even if there aren't four possible answers
    min-height: 570px; 

    .possible-answer {
      float: left;
      width: 50%;
      display: inline-block;

      .frame {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 60px 0 0 0;
        margin: 0px auto;
        background-image: url("../img/blob-green.png");

        &.frame-disabled {
          opacity: 0.4;

          .text {
            opacity: 0.4;
          }
        }
      }

      .text {
        max-width: 270px;
        max-height: 270px;
        font-size: 100px;
        line-height: 1;
        margin: 0;
      }
    }
  }
}


.potential-stars {
  background-color: black;
  border-radius: 90px;
  padding: 60px 0 0 0;

  margin: auto;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.potential-stars .potential-star {
  display: inline-block;
  position:  relative; /* become the positional parent for our 'position: absolute' children */
  width:     62px;
  height:    59px;

  -webkit-transform: translateZ(0);

  /* This controls the **time** part of the animations of this element. The spatial */
  /* part of the transform is controlled by Javascript. */
  -webkit-transition: -webkit-transform 0.75s ease-in-out, opacity 0.2s linear;
  opacity: 0;
}

.potential-stars .potential-star.js-is-winnable {
  opacity: 1;
}
/*
 * Slide in/out Animation
 * **********************
 *
 * These are the states of the class attribute:
 *
 *  Hiding:
 *
 *    [element is in visible steady state]
 *    .slide-in-out
 *    .slide-in-out.ng-hide-add
 *    .slide-in-out.ng-hide-add.ng-hide-add-active
 *    .slide-in-out.ng-hide
 *    [element is in hidden steady state]
 *
 *  Showing:
 *
 *    [element is in hidden steady state]
 *    .slide-in-out.ng-hide
 *    .slide-in-out.ng-hide-remove
 *    .slide-in-out.ng-hide-remove.ng-hide-remove-active
 *    .slide-in-out
 *    [element is in visible steady state]
 */

/* setup for sliding elements */
.slide-in-out {
  -webkit-transform: translateZ(0); /* promote matching elements to their own GPU layer for render performance */
  position: absolute;
}

/* prepare for slide-out animation */
.slide-in-out.ng-hide-add {
  display: block !important;
  -webkit-transition: 0.3s ease-in-out all;
}

/* start the slide-out animation */
.slide-in-out.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translateX(-100%);
}

/* hidden elements should be off-screen on the RHS */
.slide-in-out.ng-hide {
  display: block !important;
  -webkit-transform: translateX(100%);
}

/* prepare for slide-in animation */
.slide-in-out.ng-hide-remove {
  -webkit-transition: 0.3s ease-in-out all;
  -webkit-transform: translateX(200%);
  display: block !important;
}

/* start the slide-in animation */
.slide-in-out.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translateX(0);
}

/* Star slots (across the top of each quiz page) */
/* ********************************************* */

.star-slots {
  border-radius: 40px;
  background-color: black;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
}

.star-slot {
  margin: 0;
  position: relative; /* become the positional parent for our 'position: absolute' children */
  float: left;
}

.star-slot .js-full-slot-img {
  display: none;
} 

.quiz-wrapper {
  background: url("../img/background-yellow.png");
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: black;
  text-shadow: 2px 2px 0px orange;

}

.quiz-wrapper .level-id {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: black;
  color: red;
  font-size: 44px;
  text-align: left;
  padding-left: 30px;
  color: #00ff00; /* changes */
  text-shadow: none;
}

.result {
  width: 80%;
  margin: 0 auto;
}

.result .text {
  padding-top: 50px;
  font-size: 150px;
  display: block;
  margin: 0 auto;
  color: black;
}

.result .btn-return-home {
  float: right;
  background: url("../img/arrow-right.png") no-repeat;
  width: 232px;
  height: 161px;
  color: #00ffff;
  font-size: 100px;
  padding: 15px 0 0 10px;
  text-shadow: 2px 2px 0px blue;
  text-align: left;
}
