<div ng-controller="KidsListCtrl">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="sidebar">

                    <ul class="nav nav-list">
                          <li class="nav-header">Home</li>
                          <!-- still needs debugging why the getLevel does not update after adding kids -->
                          <li class="active"><a ng-href="#/level/{{getLevel}}">start playing</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Player</li>
                          <li ng-repeat="p in player">
                              <img ng-src="{{p.image}}" class="img-rounded" ng-click="removePlayer(p)">
                              <span class="badge badge-success">{{p.level}}</span>
                          </li>
                          <li class="divider"></li>
                          <li><a href="#/admin">Admin</a></li>
                      </ul>

                </div>
            </div>
            <div class="span10">
                <p>
                <ul class="thumbnails">
                    <li class="span2" ng-repeat="k in kids">
                        <img ng-src="{{k.image}}" alt="{{k.name}}" class="img-rounded" ng-click="setPlayer(k)">
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
