<div ng-controller="AdminCtrl">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="sidebar">

                    <ul class="nav nav-list">
                          <li class="nav-header">Exit</li>
                      </ul>

                </div>
            </div>
            <div class="span10">
                <p>
                    Congrats, you made it to Level: {{level}}
                </p>
            </div>
        </div>
    </div>
</div>
