/* Put your CSS here */

@font-face {
      font-family: Khmer;
      src: url("css/fonts/khmer.ttf");
}       

body {
    /* font-family: Khmer; */
}

span.result_0 {
       width: 10%;
       background-color: red;
       float: left;
       text-align: center;
}
span.result_1 {
       width: 10%;
       background-color: green;
       float: left;
       text-align: center;
}

h2.final_result_passed {
       color: green;
}
h2.final_result_failed {
       color: red;
}
button.btn-large {
	width: 100%;
}
ul.result-icons li {
	height: 30px;
}
ul.result-icons li.current {
	background-image:url("../content/images/coin-current.png");
	background-repeat:no-repeat;
	background-size: 50%;
}
ul.result-icons li.next {
	background-image:url("../content/images/coin-later.png");
	background-repeat:no-repeat;
	background-size: 50%;
}
ul.result-icons li.lost {
	background-image:url("../content/images/coin-lost.png");
	background-repeat:no-repeat;
	background-size: 50%;
}
ul.result-icons li.won {
	background-image:url("../content/images/coin-won.png");
	background-repeat:no-repeat;
	background-size: 50%;
}

.sidebar {
    background-color: #F5F5F5;
    height: 400px;
}
