/* Put your CSS here */

@font-face {
      font-family: Khmer;
      src: url("css/fonts/khmer.ttf");
}       

body {
    /* font-family: Khmer; */
}

span.result_0 {
       width: 10%;
       background-color: red;
       float: left;
       text-align: center;
}
span.result_1 {
       width: 10%;
       background-color: green;
       float: left;
       text-align: center;
}

h2.final_result_passed {
       color: green;
}
h2.final_result_failed {
       color: red;
}

.sidebar {
    background-color: #F5F5F5;
    height: 400px;
}
